extends layout

block content
    .w3-card-4
      header.w3-container.w3-teal
        h3.w3-left Registar Student (DAW2020)
      .w3-container
      
      form(action="/students/edit", method="post")
        .w3-text-teal
          label Numero de aluno
          .w3-input.w3-border.w3-light-grey
            input(type="text", name="numero", value=student.numero)
        .w3-text-teal
          label Nome
          .w3-input.w3-border.w3-light-grey
            input(type="text", name="nome", value=student.nome) 
        .w3-text-teal
          label Git
          .w3-input.w3-border.w3-light-grey
            input(type="text", name="git", value=student.git)  
        .w3-text-teal
          label TPCs (Introduzir na forma de lista de binários ex: [1,0,1,0,1])
          .w3-input.w3-border.w3-light-grey
            input(type="text", name="tpc", value=student.tpc)
        .w3-button.w3-border.w3-light-grey
          input(type="submit", value="Submeter")
      footer.w3-container.w3-teal
        a(href="/")
          address [Voltar ao inicio]
        address Gerado por dawApp :: 2020-Nov, jcr

  
