extends layout

block content
    .w3-card-4
      header.w3-container.w3-teal
        h3.w3-left Registar Student (DAW2020)
      .w3-container
      
      form(action="/students/delete", method="post")
        .w3-text-teal
          label Numero de aluno
          .w3-input.w3-border.w3-light-grey
            input(type="text", name="numero")
        .w3-button.w3-border.w3-light-grey
          input(type="submit", value="Eliminar")
      footer.w3-container.w3-teal
        a(href="/")
          address [Voltar ao inicio]
        address Gerado por dawApp :: 2020-Nov, jcr

  
